* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
.navigation {
  position: fixed;
  width: 250px;
  height: 100%;
  background: rgb(52, 58, 64);
  transition: 0.5s;
  overflow: hidden;
}

.navigation ul {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  color: #fff;
  list-style-type: none;
  padding-top: 80px;
}

.naviation ul li {
  position: relative;
  width: 100%;
  list-style: none;
}

.navigation ul li:hover {
  background: #364452;
}

.navigation ul li a {
  position: relative;
  display: block;
  width: 100%;
  display: flex;
  text-decoration: none;
  color: #fff;
}

.navigation ul li a .icon {
  position: relative;
  display: block;
  min-width: 60px;
  height: 60px;
  line-height: 60px;
  text-align: center;
}

.navigation ul li a .icon .fa {
  font-size: 24px;
}

.navigation ul li a .title {
  position: relative;
  display: block;
  padding: 0 10px;
  height: 60px;
  line-height: 60px;
  text-align: start;
  white-space: nowrap;
}
.content {
  padding-left: 270px;
  font-size: 24px;
}

.activeItem {
  background: #7d7d7d;
}
